@font-face {
  font-family: "OtomanopeeOne";
  src: url(fonts/OtomanopeeOne-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto-light";
  src: url(fonts/Roboto-Light.ttf);
}

body {
  margin: 0;
  padding: 0;
}

.header_container {
  display: flex;
  background-color: rgba(243, 233, 241);
  justify-content: space-between;
  box-shadow: 2px 2px 20px grey;
  z-index: 1;
}

.header_logo {
  padding: 20px 0px 20px 0px;
}

.logo {
  height: 100px;
  padding-left: 40px;
}

.header_icon {
  display: flex;
  margin: 50px 70px 30px 30px;
}

.icon {
  padding: 0px 50px 0px 30px;
}

.text_presentation {
  display: flex;
  background-color: white;

  justify-content: center;
  padding: 30px 30px 30px 30px;
}

.presentation_container {
  display: flex;
  flex-direction: column;
  font-family: "OtomanopeeOne";
}

.text_ori_first {
  font-size: 35px;
}

.text_ori_second {
  font-size: 20px;
  padding-left: 40px;
}

.card {
  background-color: rgba(243, 233, 241);
  height: 300px;
  width: 400px;
  border-radius: 20px 20px 20px 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  box-shadow: 2px 2px 20px silver;
}
.card_container {
  display: flex;
  padding: 50px 30px 50px 30px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 2px 2px 20px silver;
}

.footer_box {
  background-color: rgba(243, 233, 241);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  box-shadow: 2px 2px 20px silver;
}

.info_box {
  padding: 30px 30px 30px 30px;
}

.tittle_info {
  font-family: "Roboto-Bold";
  font-size: 15px;
  padding-bottom: 10px;
}

.info {
  font-family: "Roboto";
  font-size: 15px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/*--------------------------------------------product.html------------------------------------------------------*/

.product_card {
  background-color: rgba(243, 233, 241);
  margin: 80px 0px 80px 0px;
  width: 1700px;
  height: 530px;
  box-shadow: 2px 2px 20px silver;
  border-radius: 20px 20px 20px 20px;
}

.product_container {
  display: flex;
  justify-content: center;
}
