@font-face {
  font-family: "OtomanopeeOne";
  src: url(fonts/OtomanopeeOne-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto-light";
  src: url(fonts/Roboto-Light.ttf);
}

body {
  margin: 0;
  padding: 0;
}

.header_container {
  display: flex;
  background-color: rgba(243, 233, 241);
  justify-content: space-between;
  box-shadow: 2px 2px 20px grey;
  z-index: 1;
}

.header_logo {
  padding: 20px 0px 20px 0px;
}

.logo {
  height: 100px;
  padding-left: 40px;
}

.header_icon {
  display: flex;
  margin: 50px 70px 30px 30px;
}

.icon {
  padding: 0px 50px 0px 30px;
}

.text_presentation {
  display: flex;
  background-color: white;
  box-shadow: 2px 2px 20px silver;
  justify-content: center;
  padding: 30px 30px 30px 30px;
}

.presentation_container {
  display: flex;
  flex-direction: column;
  font-family: "OtomanopeeOne";
}

.text_ori_first {
  font-size: 35px;
}

.text_ori_second {
  font-size: 20px;
  padding-left: 40px;
}

.card {
  background-color: rgba(243, 233, 241);
  height: 300px;
  width: 400px;
  border-radius: 20px 20px 20px 20px;
}
.card_container {
  padding: 30px 30px 30px 30px;
  display: flex;
}
